<p id="notice"><%= notice %></p>

<!--<h1>Listing Projects</h1>-->

<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Name</th>-->
      <!--<th>Description</th>-->
      <!--<th>Image url</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<% @projects.each do |project| %>-->
      <!--<tr>-->
        <!--<td><%= project.name %></td>-->
        <!--<td><%= project.description %></td>-->
        <!--<td><%= project.image_url %></td>-->
        <!--<td><%= link_to 'Show', project %></td>-->
        <!--<td><%= link_to 'Edit', edit_project_path(project) %></td>-->
        <!--<td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<!--<br>-->


<section class="projects">
  <% @projects.each do |project| %>
    <div class="grid-container project"><%= link_to image_tag(project.image_url), project_path(project) %><p><%= link_to project.name, project_path(project) %></p></div>
  <% end %>
</section>

<section>
  <%= link_to 'New Project', new_project_path %>
</section>